h1 {
    font-size: xx-large;
}

body {
    background-color:blue;
}

.bleach {
   display:flex;
   justify-content:center;
   align-items: center;
}



img {
    margin-left: 500px;
    width: 50%;
}